<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Timestamp Microservice</title>
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/styles.css" />		
	</head>	

	<body>	


		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 well wellmtop">
					<h1 id="timestamp" class="text-center">Timestamp Microservice</h1>
					<hr />
					<ol><li> Pass a string as a parameter, and it will be checked to see whether it contains either a Unix timestamp or a natural language date (example: January 1, 2016).</li>
					<li> If it does, both the Unix timestamp and the natural language form of that date are returned.</li>
					<li> If it does not contain a date or Unix timestamp, null is returned for those properties.</li></ol>
					<hr />
					<div class="text-center">
						<!-- results show up here -->
						<h2> Unix Date: <%= passedUnix %> </h2>
						<h2> Date: <%= passedNatural %> </h2>
					</div>	
					<hr />
					<form action="/results" method="post" id="message-form">
						<div class="form-group">
							<div class="input-group">
			 					<span class="input-group-addon" id="basic-addon1">
			 						<i class="glyphicon glyphicon-calendar"></i>
			 						<i class="glyphicon glyphicon-time"></i>
			 					</span>
								<input type="text" name="stringFromForm" placeholder="type a date or a number" class="form-control" />
							</div>	
						</div>	
						<div class="form-group">
							<input type="submit" class="btn btn-success btn-block"/>
						</div>		
					</form>
					<hr />
					<ul>
						<li>Example usage: <br />https://timestamp-microservice-ls.herokuapp.com/Nov, 5, 1605 <br /> https://timestamp-microservice-ls.herokuapp.com/-11491632000</li>
						<li>Example output: <br />
						{ "unix": -11491632000, "natural": "November 5, 1605" } </li>
					</ul>	
				</div>
			</div>	
		</div>

	</body>
