.vertical-center {
	min-height: 100vh;
	margin: 0;
	display: flex;
	align-items: center;
}

h1 {
	margin: 24px 0; 
}

.messages p {
	margin: 6px 0;
}

.well.wellmtop{
	margin-top: 40px;
}

code {
	font-size: 0.93em;
}